.img-fit-cover {
  object-fit: cover;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.bottom0 {  bottom: 0;}
.top0 {  top: 0;}
.left0 {  left: 0;}
.right0 {  right: 0;}
.w30 {  width: 30%;}
.w100 {  width: 100%;}
.w70 {  width: 70%;}
.h86px {  height: 86px;}
.w150px {
  width: 150px;
  max-width: 150px;
}
.w320px {
  width: 320px;
  min-width: 320px;
}
.w63 {  width: 63%;}
.w58 {  width: 58%;}
.w40 {  width: 40%;}
.h200px {  height: 200px;}
.h541px {  height: 541px;}
.h175px {  height: 175px;}
.h80px {  height: 80px;}
.h130px {  height: 130px;}
.h180px {  height: 180px;}
.minw320px {  min-width: 320px;}
.bgwhite {
  background-color: white;
  color: #232321;
}
.bgblack66 {
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
}
.bge {
  background-color: #eeeeee;
}
.bgd55401 {
  background-color: #d55401;
  color: white;
}
.bg9b58b5 {
  background-color: #9b58b5;
  color: white;
}
.bgefc50f {
  background-color: #efc50f;
  color: white;
}
.bg8f44ad {
  background-color: #8f44ad;
  color: white;
}
.bgblack86 {
  background-color: rgba(0, 0, 0, 0.86);
  color: white;
}
.bg0292ce {
  background-color: #0292ce;
  color: white;
}
.bg151517 {
  background-color: #151517;
  color: white;
}
.bg35 {
  background-color: #353535;
}
.color0177bf {
  color: #0177bf !important;
}
.bordert-1d1d1f {
  border-top: 1px solid #1d1d1f;
}
.bordert-d9 {
  border-top: 1px solid #d9d9d9;
}
.borderb4bbc1 {
  border: 1px solid #b4bbc1;
}
.borderr-dee2e6 {
  border-right: 1px solid #dee2e6;
}
.border0d8fc3 {
  border: 1px solid #0d8fc3;
}
.borderl1f1f21 {
  border-left: 1px solid #1f1f21;
}
.color4e {
  color: #4e4e4e;
}
.colorf39813 {
  color: #f39813;
}
.colorab {
  color: #ababab;
}
.color727274 {
  color: #727274;
}
.lineclamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineclamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.nav-tabs .nav-link.active {
  border: 1px solid #dc5041;
  background-color: #eeeeee;
  border-radius: 0;
}
.round50 {
  border-radius: 90px;
}

@media screen and (max-width: 1199px) {
  .hide-onpad {
    display: none;
  }
  .dnb-promo {
    flex-direction: column;
  }
  .dnb-promo-side {
    display: flex;
    width: 100%;
    padding-left: 0 !important;
    padding-top: 10px;
    justify-content: space-between;
  }
  .dnb-promo-side-item {
    height: 154px;
  }
  .dnb-promo-side > * {
    width: 32.6%;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 1080px) {
  .dnb-media {
    flex-direction: column;
    align-items: center;
  }
  .dnb-media > aside {
    margin-top: 50px;
  }
}
@media screen and (max-width: 630px) {
  .hide-onfone {
    display: none;
  }
}
